*{
    box-sizing: border-box;
}
        body,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        blockquote{
            margin: 0;
            padding: 0;
            display: block;
        }
        .header{
            display: grid;
            grid-template-columns: 1.5fr 2fr 1fr;
            align-items: center;
            width: 1100px;
            padding: 135px 50px;
        }
        .header-link-list
        {
            font-family: Raleway;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            display: flex;
            list-style: circle;
            gap: 35px;
        }
        .header-link-list-item
        {
            text-decoration: underline;
            white-space: nowrap;
        }
        .logo{
            display: flex;
            justify-content: start;
            margin-left: 45px;
        }
        .address-link{
            font-family: Raleway;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 24.3px;
            letter-spacing: 0%;
            color: black;
            white-space: nowrap;
        }
        .no-style{
            text-decoration: none;
            list-style: none;
        }
        .cover{
            background-image: url("cover.jpg");
            width: 1100px;
            min-height: 757px;
            color: white;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
        }
        
        .overlay
        {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0,0,0);
            z-index: 0;
            opacity: 0.6;
        }
           
        .cover-title{
            padding: 165px 50px 207px 50px;
            color: #fff;
            font-family: Raleway, sans-serif;
            font-size: 100px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 30%;
            line-height: 130%;
            text-transform: uppercase;
            display: grid;
            grid-template-columns: (12,1fr) ;
            grid-template-rows: (12,1fr) ;
            z-index: 1;
            align-content: center;
            position: relative;
        }
        .cover-title-item1
        {
            text-align: start;
            grid-column: 1/5;
            grid-row: 4/5;
        }

         .cover-title-item2
        {
            text-align: center;
            grid-column: 6/10;
            grid-row: 5/6;
        }

         .cover-title-item3
        {
            text-align: end;
            grid-column: 9/13;
            grid-row: 7/8;
        }
        .descripton{
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding:0 50px 50px 50px;
        }
        .text-description{
            font-family: Raleway;
            font-weight: 400;
            font-style: Regular;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0%;
            text-transform: uppercase;
            word-spacing: 18px;
        }
        .bet-button{
            border: 1px #FFF solid;
            padding: 14px 32px;
            color: #FFF;
            font-family: 'Raleway', sans-serif;
            font-weight: normal;
            font-size: 22px;
            text-transform: uppercase;
            background-color: transparent;
            margin-left: 107px;
        }