 *{
            box-sizing: border-box;
        }
        body,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        blockquote{
            margin: 0;
            padding: 0;
            display: block;
        }

        .cover{
            background-image: url("header-img.jpg");
            display: block;
            width: 1100px;
            min-height: 757px;
            color: white;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
        }
        
        .overlay
        {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.6);
        }
           
        .cover-title{
            padding: 165px 50px 207px 50px;
            color: #fff;
            font-family: Raleway, sans-serif;
            font-size: 100px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 30%;
            line-height: 130%;
            text-transform: uppercase;
            display: grid;
            grid-template-columns: (12,1fr) ;
            grid-template-rows: (12,1fr) ;
            z-index: 1;
            align-content: center;
        }
        .cover-title-item1
        {
            text-align: start;
            grid-column: 1/5;
            grid-row: 4/5;
        }

         .cover-title-item2
        {
            text-align: center;
            grid-column: 6/10;
            grid-row: 5/6;
        }

         .cover-title-item3
        {
            text-align: end;
            grid-column: 9/13;
            grid-row: 7/8;
        }